.gradle
.settings
.classpath
.project
bin
build
native
*.log

java-juicer/.gradle
java-juicer/.settings
java-juicer/.classpath
java-juicer/.project
java-juicer/bin
java-juicer/build
java-juicer/native
java-juicer/*.log
